<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row text-center w-100">
        <div class="col-12 mb-5">
            <button type="button" routerLink="/registro" class="btn btn-outline-dark btn-lg w-50">REGISTRO</button>
        </div>
        <div class="col-12 mb-5">
            <button type="button" routerLink="/resultado" class="btn btn-outline-dark btn-lg w-50">RESULTADOS</button>
        </div>
        <div class="col-12">
            <button type="button" routerLink="/acercade" class="btn btn-outline-dark btn-lg w-50">ACERCA DE</button>
        </div>
    </div>
</div>